<div class="table-wrapper">
    <div class="table-title d-flex justify-content-between mb-3">
        <h5>Dashboard</h5>
        <button class="btn btn-success" (click)="addModal()">
            <i class="fas fa-plus-circle"></i><span> Add New</span>
        </button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{student._id}}</th>
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
                <td>{{student.email}}</td>
                <td>{{student.address}}</td>
                <td>{{student.phone}}</td>
                <td>
                    <button [routerLink]="'/student/' + student._id" type="button"
                        class="btn btn-primary btn-sm me-2"><i class="bi bi-eye"></i></button>
                    <button (click)="editModal(student, student._id)" type="button" class="btn btn-secondary btn-sm me-2"><i
                            class="bi bi-pencil"></i></button>
                    <button (click)="hapus(student._id)" type="button" class="btn btn-danger btn-sm"><i
                            class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>