<div class="table-wrapper">
    <div class="table-title d-flex justify-content-between mb-3">
        <h5>Student Detail</h5>
    </div>
    <div>
        <p class="mt-4">
            <span><b>ID</b></span><br>
            {{student?._id}}
        </p>
        <p class="mt-4">
            <span><b>First name</b></span><br>
            {{student?.firstname}}
        </p>
        <p><span><b>Last name</b></span><br>
            {{student?.lastname}}
        </p>
        <p><span><b>Email</b></span><br>
            {{student?.email}}
        </p>
        <p><span><b>Address</b></span><br>
            {{student?.address}}
        </p>
        <p><span><b>Phone</b></span><br>
            {{student?.phone}}
        </p>
    </div>
</div>